body{
	margin:0;
}
header, main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: "Arial", sans-serif;
	align-items: center;
	padding: 20px 0;
	
}
img{
	border-radius: 50%;
}
h1{
	font-size: 38px;
	margin: 15px 0;
}
h2, .txt-content{
	text-align: center;
}
.txt-content, ul{
	width: 400px;
}
li{
	margin-bottom: 15px;
}